---
---

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

$primaryColor: #6495ED;
$faintColor: #fafafa;
$cardBackground: #ffffff;

$avatarWidth: 100px;

body {
	font-family: 'Open Sans', sans-serif;
}

.card {
	background: $cardBackground;
}

.faint {
	color: $faintColor;
}

.profile.card {
	overflow-x: hidden;
}

.avatar {
	display: block;
	height: $avatarWidth;
	margin: 30px auto 0 auto;
	width: $avatarWidth;

	@include border-radius($avatarWidth);
}

.email {
	font-size: 36px;
	margin: 30px -40px 30px 0;
	text-align: center;

	span { color: $primaryColor; }
	.faint { color: $faintColor; }
	.letter-s { padding-left: 40px; }
}

.email:hover {
	margin-right: 0;

	.faint { color: inherit; }
	.letter-s { padding-left: 0; }
}

.social {
	font-size: 1.2em;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		overflow: hidden;
		padding-left: 10px;
		padding-bottom: 5px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	a {
		color: inherit;

		svg, i {
			display: inline-block;
			width: 1em !important;
		}
	}

	.facebook { color: #3b5998; }
	.github { color: #333; }
	.instagram { color: #517fa4; }
	.linkedin { color: #007bb6; }
	.tumblr { color: #32506d; }
	.twitter { color: #00aced; }
}

.social.first {
	li {
		text-align: right;
	}
	li i {
		display: block;
		float: right;
		margin-top: 3px;
		margin-left: 3px;
	}
}

nav {
	display: none;

	.navbar-brand {
		padding-top: 5px;
		padding-bottom: 5px;

		img {
			height: 40px;
			width: 40px;

			@include border-radius(40px);
		}
	}
}

body.show-nav {
	a.anchor {
		display: block;
		position: relative;
		top: -70px;
	}

	nav {
		display: block;
	}
}

.works {
	.skills {
		float: left;
		font-size: 0.7em;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;

			.name:after {
				content: ',';
			}
		}

		li:last-child .name:after {
			content: '';
		}
	}

	.thumbnail > * {
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	h3, .skills {
		white-space: nowrap;
	}

	h3 {
		line-height: 1.3em;
		margin-bottom: 0;
	}

	p {
		height: 5em;
	}
}

.skills {
	.name {
		text-align: right;
	}

	.rating {
		i {
			display: inline-block;
			text-align: center;
			width: 1.1em;
		}
	}
}

.qr {
	margin: 20px 0;
	text-align: center;
}