---
---

<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HOANGSON.VN</title>
        <meta name="description" content="Dao Hoang Son - Full Stack Developer">

        <link rel="dns-prefetch" href="https://fonts.googleapis.com">
        <link rel="dns-prefetch" href="https://stackpath.bootstrapcdn.com">
        <link rel="dns-prefetch" href="https://www.google-analytics.com">

        <meta property="og:url" content="https://hoangson.vn" />
        <meta property="og:title" content="Dao Hoang Son" />
        <meta property="og:description" content="The guy is a full stack developer and this website is all about him." />
        <meta property="og:site_name" content="HOANGSON.VN"/>
        <meta property="og:image" content="https://hoangson.vn/images/qr.png" />
        <meta property="og:type" content="article" />
        <meta property="og:image:width" content="300" />
        <meta property="og:image:height" content="300" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@mrpaint" />
        <meta name="twitter:title" content="Dao Hoang Son" />
        <meta name="twitter:description" content="The guy is a full stack developer and this website is all about him." />
        <meta name="twitter:image" content="https://hoangson.vn/images/qr.png" />
        <meta name="twitter:url" content="https://hoangson.vn" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="css/main.css?v={{ site.time | date: '%s' }}">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="nav-container visible-md-block visible-lg-block">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#top">
                            <img src="images/avatar.jpg" alt="Dao Hoang Son's avatar" />
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#social">Social</a></li>
                            <li><a href="#work">Projects</a></li>
                            <li><a href="#skill">Skills</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <a class="anchor" id="top"></a>
        <div class="container">
            <div class="row header-row">
                <div class="col-md-12 profile card">
                    <img src="images/avatar.jpg" class="avatar" alt="Dao Hoang Son's large avatar" />

                    <h1 class="email">
                        <span>d</span><span>a</span><span>o</span><span class="faint">@</span><span>h</span><span>o</span><span>a</span><span>n</span><span>g</span><span class="letter-s">s</span><span>o</span><span>n</span><span class="faint">.</span><span class="faint">v</span><span class="faint">n</span>
                    </h1>

                    <a class="anchor" id="social"></a>
                    <ul class="social row col-sm-offset-2 col-sm-8">
                        {% for service in site.data.services %}
                        <li class="{{ service.service }} col-xs-6 col-sm-4 col-md-3"><a href="{{ service.href }}" rel="noopener" target="_blank"><i class="fa fa-{{ service.fa }}"></i><span class="username">&nbsp;{{ service.username }}</span></a></li>
                        {% endfor %}
                    </ul>
                </div><!-- .profile -->
            </div><!-- .header-row -->

            <div class="row contents">
                <div class="col-md-12">

                    <h2>Who am I?</h2>
                    <div class="about">
                        <p>
                            I'm a <strong>software developer</strong> and have been working in the field since 2006.
                            Being experienced in a wide range of areas in IT, I have hands-on knowledge on
                            how to build a product from idea to success.
                            I'm familiar with all layers of the software stack with strong focus on backend logic
                            and user experience (web <em>and</em> mobile).
                            Grab my <a href="http://files.daohoangson.com/public/cv/" rel="noopener" target="_blank">CV</a> for a more detailed record of my experiences.
                        </p>
                        <p>
                            I consider myself a keen learner having genuine interest in technologies, especially those that are new and challenging.
                            Maybe follow me on <a href="https://github.com/daohoangson" rel="noopener" target="_blank">github</a> too? I contribute to OSS projects occasionally.
                        </p>
                    </div>

                    <a class="anchor" id="work"></a>
                    <h2>Personal projects that I worked on:</h2>
                    <div class="works row">
                        {% for work in site.data.works %}
                        <div class="{{ work.work }} col-xs-12 col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <a href="{{ work.href }}" rel="noopener" target="_blank"><img src="{{ work.img }}" width="500" height="300" alt="{{ work.header }} thumbnail" loading="lazy" /></a>

                                {% if work.skills %}
                                <ul class="skills">
                                    {% for workSkill in work.skills %}
                                    {% assign skill = site.data.skills[workSkill.skill] %}
                                    <li class="{{ workSkill.skill }}">
                                        {% if workSkill.href %}
                                        <a href="{{ workSkill.href }}" rel="noopener" target="_blank" class="name">{{ skill.name }}</a>
                                        {% else %}
                                        <span class="name">{{ skill.name }}</span>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}

                                <h3><a href="{{ work.href }}" rel="noopener" target="_blank">{{ work.header }}</a></h3>
                                <p>{{ work.body }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <a class="anchor" id="skill"></a>
                    <h2><span title="Too long; Didn't read" class="Tooltip">TL;DR</span>: I am good at...</h2>
                    <div class="skills">
                        {% for _skill in site.data.skills %}
                        {% assign skillCode = _skill[0] %}
                        {% assign skill = _skill[1] %}
                        {% if skill.rating > 2.5 %}
                        <div class="{{ skillCode }} row">
                            <div class="name col-xs-6 col-sm-4 col-md-2">{{ skill.name }}</div>
                            <div class="rating col-xs-6 col-sm-4 col-md-2">
                                {% assign skillRatingAndHalf = skill.rating | plus:0.5 %}
                                {% for i in (1..5) %}
                                {% if skill.rating >= i %}
                                <i class="fa fa-star"></i>
                                {% else %}
                                {% if skillRatingAndHalf >= i %}
                                <i class="fa fa-star-half-o"></i>
                                {% else %}
                                <i class="fa fa-star-o"></i>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <div class="qr">
                        <a href="//hoangson.vn"><img src="images/qr.png" width="150" height="150" alt="QR code" loading="lazy" /></a>
                    </div>

                </div>
            </div><!-- .contents -->
        </div><!-- .container-fluid -->

        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha384-Qg00WFl9r0Xr6rUqNLv1ffTSSKEFFCDCKVyHZ+sVt8KuvG99nWw5RNvbhuKgif9z" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <script src="js/main.js?v={{ site.time | date: '%s' }}"></script>

        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-11709217-5','auto');ga('send','pageview');
        </script>
    </body>
</html>
